In [3]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 250)
%matplotlib inline
from re import match
import os 
import json    # json 모듈 import

In [4]:
'''
jumsu = {
'홍길동' : [50,60,50],
'이순동' : [60,60,60],
'강감동' : [100,90,90],
'유관동' : [80,80,90],
'홍길도' : [50,45,50],
'이순도' : [80,70,66],
'강감도' : [64,49,50],
'유관도' : [60,50,50],
'홍길재' : [50,45,51],
'이순재' : [80,70,61],
'강감재' : [64,49,51],
'유관재' : [60,50,51],
'강환석' : [95,95,95]
}
<요구사항1>
다음의 순서대로 코딩하세요.
가. 보기의 jumsu 딕셔너리 중에서 평균 점수가 60점 미만인 사람만 선별하여 또 다른 딕셔너리에 저장하세요.
나. 가. 항에서 만든 또 다른 딕셔너리를 이용하여 데이터(요소)가 평균이고 인덱스가 이름인 Series 를 만드세요.
다. 시리즈를 <실행결과> 와 같이 출력하세요.

<실행결과>

홍길동-홍길도-강감도-유관도-홍길재-강감재-유관재-
53.33--48.33--54.33--53.33--48.67--54.67--53.67--
'''
jumsu = {
'홍길동' : [50,60,50],
'이순동' : [60,60,60],
'강감동' : [100,90,90],
'유관동' : [80,80,90],
'홍길도' : [50,45,50],
'이순도' : [80,70,66],
'강감도' : [64,49,50],
'유관도' : [60,50,50],
'홍길재' : [50,45,51],
'이순재' : [80,70,61],
'강감재' : [64,49,51],
'유관재' : [60,50,51],
'강환석' : [95,95,95]
}


jumsu2 = {}
for key, value in jumsu.items():
    if round(np.mean(value),2) < 60:
        jumsu2[key] = round(np.mean(value))

jumsu3 = { key:round(np.mean(value),2) 
          for key,value in jumsu.items() 
          if round(np.mean(value),2) < 60}

jumsu3_s = pd.Series(jumsu3)
jumsu3_s
### === 위 평균 60점 미만의 사람들의 총점을 구하여 이름과 총점으로 딕셔너리 생성하세요.
### 그리고, 딕셔너리로 시리즈를 만드세요.

jumsu4 = { key:np.sum(value) 
          for key,value in jumsu.items() 
          if round(np.mean(value),2) < 60}

jumsu4_s = pd.Series(jumsu4)

jumsu_df = pd.DataFrame({'합계':jumsu4_s, "평균":jumsu3_s})

jumsu_df['평균']['홍길도']

48.33

In [5]:
#### 날짜 데이터 생성
dates = pd.date_range('2022-04-01','2022-04-7')
print(dates)
print(type(dates))
## datetime 이라는 특별한 형식 인덱스를 생성함. 
## datetime 은 판다스에서 날짜/시간 관련 인덱스.

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07'], dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [6]:
temps1 = pd.Series([80,82,85,90,92,87,88], index=dates)
temps1.info()
### Pandas에서 DatetimeIndex 의 형식으로 인덱스를 사용하는 데이터를 시계열이라 한다. 
temps1

<class 'pandas.core.series.Series'>
DatetimeIndex: 7 entries, 2022-04-01 to 2022-04-07
Freq: D
Series name: None
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 112.0 bytes

2022-04-01    80
2022-04-02    82
2022-04-03    85
2022-04-04    90
2022-04-05    92
2022-04-06    87
2022-04-07    88
Freq: D, dtype: int64

In [7]:
temps1['2022-04-07']

88

In [8]:
temps2 = pd.Series([60,70,69,83,77,79,75],index=dates)
print(temps2)

2022-04-01    60
2022-04-02    70
2022-04-03    69
2022-04-04    83
2022-04-05    77
2022-04-06    79
2022-04-07    75
Freq: D, dtype: int64

In [9]:
### temps1 도시의 온도와 temps2 도시의 온도 간차이를 temps_diff에 저장
temps_diff = temps1 - temps2
print(temps_diff)

2022-04-01    20
2022-04-02    12
2022-04-03    16
2022-04-04     7
2022-04-05    15
2022-04-06     8
2022-04-07    13
Freq: D, dtype: int64

In [10]:
temps_diff.mean()  # numpy에서 제고하는 라이브러리에 있는 mean()와 구분되는 mean()이 존재함
type(temps_diff)
temps1
temps2

2022-04-01    60
2022-04-02    70
2022-04-03    69
2022-04-04    83
2022-04-05    77
2022-04-06    79
2022-04-07    75
Freq: D, dtype: int64

In [11]:
# 문제1
### 위의 temps1, temps2를 이용하여 뺄샘이외에 다른 연산 가능한지 실습... 
## 더하기, 곱하기, 나누기... 
print(temps1 + temps2)
print(temps1 * temps2)
print(temps1 / temps2)

2022-04-01    140
2022-04-02    152
2022-04-03    154
2022-04-04    173
2022-04-05    169
2022-04-06    166
2022-04-07    163
Freq: D, dtype: int64
2022-04-01    4800
2022-04-02    5740
2022-04-03    5865
2022-04-04    7470
2022-04-05    7084
2022-04-06    6873
2022-04-07    6600
Freq: D, dtype: int64
2022-04-01    1.333333
2022-04-02    1.171429
2022-04-03    1.231884
2022-04-04    1.084337
2022-04-05    1.194805
2022-04-06    1.101266
2022-04-07    1.173333
Freq: D, dtype: float64

In [12]:
# 문제2
### temps3를 생성. temps1과 temps2와 대응하는 시리즈를 생성하세요. 
# 온도 : 75, 77, 67, 82, 77, 85, 89 , 인덱스 : dates
#
# 이렇게 생성된 temps1, temps2, temps3를 temps_df로 데이타프레임으로 생성하세요. 
# temps1 - Missoula, temps2 - Philadelphia, temps3 - Seoul
temps3 = pd.Series([75,77,67,82,77,85,89],index=dates)
print(temps3)
dic1 = {'Missoula':temps1, 'Philadelphia':temps2, 'Seoul':temps3}
temps_df = pd.DataFrame(dic1)
print("--"*30)
print("temps_df")
print(temps_df)

2022-04-01    75
2022-04-02    77
2022-04-03    67
2022-04-04    82
2022-04-05    77
2022-04-06    85
2022-04-07    89
Freq: D, dtype: int64
------------------------------------------------------------
temps_df
            Missoula  Philadelphia  Seoul
2022-04-01        80            60     75
2022-04-02        82            70     77
2022-04-03        85            69     67
2022-04-04        90            83     82
2022-04-05        92            77     77
2022-04-06        87            79     85
2022-04-07        88            75     89

### 문제3. 각도의 평균온도를 구하세요. 
<img src="im.png">

In [13]:
print(temps_df)
print("-"*40)
print("Missoula \t평균기온 : ",round(temps_df['Missoula'].mean(),2))
print("Philadelphia \t평균기온 : ",round(temps_df['Philadelphia'].mean(),2))
print("Seoul   \t평균기온 : ",round(temps_df['Seoul'].mean(),2))

            Missoula  Philadelphia  Seoul
2022-04-01        80            60     75
2022-04-02        82            70     77
2022-04-03        85            69     67
2022-04-04        90            83     82
2022-04-05        92            77     77
2022-04-06        87            79     85
2022-04-07        88            75     89
----------------------------------------
Missoula 	평균기온 :  86.29
Philadelphia 	평균기온 :  73.29
Seoul   	평균기온 :  78.86

In [14]:
print(temps_df['Missoula'])
aa = temps_df['Missoula']
print(type(aa))

2022-04-01    80
2022-04-02    82
2022-04-03    85
2022-04-04    90
2022-04-05    92
2022-04-06    87
2022-04-07    88
Freq: D, Name: Missoula, dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
## 두개 이상의 컬럼을 한번에 가져오고자 할 때... []를 이용한다. 
cc = temps_df[['Missoula','Philadelphia']]
print(cc,type(cc))

            Missoula  Philadelphia
2022-04-01        80            60
2022-04-02        82            70
2022-04-03        85            69
2022-04-04        90            83
2022-04-05        92            77
2022-04-06        87            79
2022-04-07        88            75 <class 'pandas.core.frame.DataFrame'>

In [16]:
cc_diff = cc['Missoula'] - cc['Philadelphia']
cc['Difference'] = cc_diff
cc

            Missoula  Philadelphia  Difference
2022-04-01        80            60          20
2022-04-02        82            70          12
2022-04-03        85            69          16
2022-04-04        90            83           7
2022-04-05        92            77          15
2022-04-06        87            79           8
2022-04-07        88            75          13

In [17]:
### temps_df 또는 cc 데이터프레임의 컬럼명을 모두 출력
cc.columns          # columns -> 데이타프레임에 있는 컬럼을 출력

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [18]:
# 데이터 프레임의 인덱스는 기본 인덱스와 사용자 인덱스가 존재한다. 
# 기본 인덱스는 위치 인덱스라고도 한다. 
# cc또는 temps_df에 있는 2022-04-01 ~ 2022-04-07의 인덱스는 사용자 인덱스라고 한다. 
# 슬라이싱을 이용한 방식은 기본 인덱스를 사용하게 된다.#
cc.Difference[1:4]
cc[1:4]
cc[:3]
cc[3:]

            Missoula  Philadelphia  Difference
2022-04-04        90            83           7
2022-04-05        92            77          15
2022-04-06        87            79           8
2022-04-07        88            75          13

In [19]:
print(cc)
cc[-2:]
cc[-1:]

            Missoula  Philadelphia  Difference
2022-04-01        80            60          20
2022-04-02        82            70          12
2022-04-03        85            69          16
2022-04-04        90            83           7
2022-04-05        92            77          15
2022-04-06        87            79           8
2022-04-07        88            75          13

            Missoula  Philadelphia  Difference
2022-04-07        88            75          13

In [20]:
## label을 이용하는 접근(label은 사용자 정의 인덱스를 말함)
# 접근법, 
# 1. 단일 :  [데이타프레임 or Series].loc['label명',['컬럼명',...]]
# DataFrame
temps_df.loc['20220401']
temps_df.loc['20220401',['Missoula','Seoul']]
# Series
temps_df.Seoul.loc['20220401']
# 2. 여러개일 경우(특정 인덱스만 출력)
temps_df.loc[['20220402','20220406'],['Philadelphia','Seoul']]


#temps_df.loc['20220404':'20220406',['Seoul','Philadelphia']]

            Philadelphia  Seoul
2022-04-02            70     77
2022-04-06            79     85

In [21]:
## 기본 인덱스를 이용하여 접근
# 접근법, 
# 1. 단일 :  [데이타프레임 or Series].loc['label명']

temps_df.iloc[3:,1]

2022-04-04    83
2022-04-05    77
2022-04-06    79
2022-04-07    75
Freq: D, Name: Philadelphia, dtype: int64

In [22]:
## label을 이용하는 접근(label은 사용자 정의 인덱스를 말함)
# 접근법,
# 1. 단일 : [데이터프레임 or Series].loc['label명']

#DataFrame
temps_df.loc['20220401']
temps_df.loc['20220401',['Missoula','Seoul']]

#Series
temps_df.Seoul.loc['20220401']

# 2. 여러개일 경우 (특정 인덱스만 출력)
#DataFrame
temps_df.loc[['20220402','20220406'],['Philadelphia','Seoul']]
# Series
temps_df.Seoul.loc[['20220402','20220406']]

# 3. 여러개일 경우 (연속된 값일 경우)
#DataFrame
temps_df.loc['20220402':'20220406',['Philadelphia','Seoul']]
# Series
temps_df.Seoul.loc[['20220402':'20220406']]

# 4. Boolean 값을 이용한 출력(이때에 인덱스 값과 같은 갯수의 리스트 갯수로 생성)
#DataFrame
ls = [True,False,False,True,False,False,True]
temps_df.loc[ls,['Philadelphia','Seoul']]
#Series
temps_df.Missoula.loc[ls]


#teps_df.loc['20220404':'20220406',['Seoul','Philadephia']]

SyntaxError: invalid syntax (2445519548.py, line 22)

In [23]:
## label을 이용하는 접근(label은 사용자 정의 인덱스를 말함)
# 접근법,
# 1. 단일 : [데이터프레임 or Series].iloc[index값(int)]
# DataFrame
print(temps_df)
temps_df.loc[3]     
temps_df.iloc[3,1]  # Philadelphia의 2022.04.04
# Series
temps_df.Philadelphia.iloc[3]

# 2. 여러개 값을 출력 (특정 인덱스만 출력)
# DataFrame
temps_df.iloc[[1,3,5],[1,2]]
# Series
temps_df.Seoul.iloc[[1,3,5]]

# 3. 여러개일 경우(연속된 값인 경우)
# DataFrame
temps_df.iloc[1:4,[0,2]]
# Series
temps_df.Seoul.iloc[3:]

# 4. Boolean 값을 이용한 출력
# DataFrame
temps_df.iloc[ls,[0,1,2]]
# Series
temps_df.Seoul.iloc[ls]

            Missoula  Philadelphia  Seoul
2022-04-01        80            60     75
2022-04-02        82            70     77
2022-04-03        85            69     67
2022-04-04        90            83     82
2022-04-05        92            77     77
2022-04-06        87            79     85
2022-04-07        88            75     89

KeyError: 3

In [26]:
df = pd.read_csv('data/goog.csv')
df2 = df.iloc[0::3]     # df2 = df.iloc[0:61:3]
print(df2)

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
6   12/28/2016  793.700012  794.229980  783.200012  785.049988  1132700
9     1/3/2017  778.809998  789.630005  775.799988  786.140015  1643100
12    1/6/2017  795.260010  807.900024  792.203979  806.150024  1620500
..         ...         ...         ...         ...         ...      ...
48    3/1/2017  828.849976  836.255005  827.260010  835.239990  1491400
51    3/6/2017  826.950012  828.880005  822.400024  827.780029  1105800
54    3/9/2017  836.000000  842.000000  834.210022  838.679993  1259900
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[21 rows x 6 columns]

In [28]:
df31 = pd.read_csv("data/goog.csv",parse_dates=['Date'],index_col = 'Date' )
print(df31)

                  Open        High         Low       Close   Volume
Date
2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
...                ...         ...         ...         ...      ...
2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 5 columns]

In [2]:
pip install pymsql

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pymsql (from versions: none)
ERROR: No matching distribution found for pymsql